.container{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.groupHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
}

.chats{
    height: auto;
    max-height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 3.5rem;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid red;
}

.chats.two{
    align-items: flex-start;
}

.chat{
    height: auto;
    width: auto;
    padding: 0 1rem;
    border: 1px solid;
    position: relative;
    border-radius: 0px 15px 15px 15px;
    margin-bottom: 2.5rem;
    text-align: justify;
}


.stamp{
    position: absolute;
    bottom: -30px;
    left: 0;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 0.6rem;
}

.chats form{
    width: 50%;
    height: 80px;
    position: absolute;
    margin: 0 auto;
    left:  0;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid red;
    border-radius: 20px;
    padding-bottom: 0;
    padding: 0 1rem;
}

.chats form textarea{
    height: 50%;
    width: 80%;
    border-radius: 20px;
}

.chats form button{
    width: 10%;
    margin-left: 1rem;
}

.btm{
    width: 70%;
    position: fixed;
    bottom: 20px;
    text-align: center;
    border: 1px solid;
}

.btm h2{
    font-size: 1.2rem;
}