.container{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.header{
    height: 15vh;
    width: 70%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4rem;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px var(--shadow-color);
}

.friends{
    height: auto;
    width: 100%;
    display: grid;
    margin-top: 20vh;
    grid-template-columns: 1fr;
    position: relative;
}

.nav{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.nav button{
    width: 25%;
    outline: none;
    border-radius: 0px;
    transition: all 0.5s ease;
    padding: 0.5rem;
}

.nav button:hover{
    border: none;
    border-bottom: 2px solid;
}

.tab{
    height: auto;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 3rem;
    padding-bottom: 3rem;
    transition: all 0.7s ease;
    transform: translateX(100vw);
}

.tab.active{
    opacity: 1;
    display: grid;
    transform: translate(0);
    grid-template-columns: 1fr;
    place-items: center;
}

.friend{
    height: auto;
    width: 100%;
    max-width: 100vw;
    border: 1px solid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.head{
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic{
    height: 35px;
    width: 35px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}


.friend > div{
    height: 100%;
}

.text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.friend h3{
    margin-bottom: 0;
}

.friend p{
    margin: 0;
}

.action{
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding: 0rem 1rem;
    margin-top: 1rem;
}


.bio{
    max-width: 60%;
    text-align: justify;
}


@media screen and (max-width: 768px) {
    .friend button{
        padding: 0.5rem 1.2rem;
    }
}