.navbar{
    position: fixed;
    /* top: 0px; */
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 50px;
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border:  1px solid #ff821d;
    border-radius: 20px;
}

.navbar.show .icon{
    transform: translate(0);
}

.icon{
    height: auto;
    color: black;
    transform: translateY(100vh);
    transition: all 0.5s ease;
    transition-delay: calc(var(--i) * 0.5s);
}
