.navbar{
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1000;
    bottom: 50px;
    height: 4rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border:  1px solid;
    border-radius: 20px;
    transition: all 0.8s ease;
    transform: translateY(100vh);
}

.navbar.scroll{
    transform: translateY(100vh);
}

.navbar.show{ 
    transform: translate(0);
}

.navbar.show .icon{
    transform: translate(0);
}

.icon{
    height: auto;
    color: inherit;
    cursor: pointer;
    transform: translateY(100vh);
    transition: all 0.5s ease;
    transition-delay: calc(var(--i) * 0.5s);
}
