.container{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.header{
    height: 15vh;
    width: 70%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4rem;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px var(--shadow-color);
}

.body{
    height: auto;
    width: 100%;
    margin-top: 20vh;
}

.body form{
    margin: 0 auto;
    height: auto;
    width: 85%;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.inputs{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.first{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.pic{
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-radius: 50%;
}

.inputs textarea{
    border: none;
    width: 80%;
    text-indent: 10px;
    min-height: 100px;
    padding: 0.5rem;
    border-radius: 15px;
    background: var(--text-color);
}

.inputs label{
    width: 93%;
    display: flex;
    color: inherit;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    transition: all 0.5s ease;
}

.inputs label input{
    padding: 0 0.5rem;
}

.inputs label input::file-selector-button{
    margin: 10px;
}

.error{
    position: absolute;
    bottom: -25px;
    font-size: 0.65rem;
    left: 15%;
}


.action{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

@media screen  and (max-width: 768px) {
    .body form{
        flex-direction: column;
    }

    .inputs{
        width: 100%;
    }

    .inputs textarea{
        width: 85%;
    }

    .action{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}