.container{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border: 1px solid;
}

.header h2{
    font-size: 1.5rem;
}

.options{
    width: auto;
    position: relative;
}

.del{
    position: absolute;
    left: 0;
    bottom: -50px;
    opacity: 0;
    border: 1px solid;
    color: var(--bg-color);
    background: var(--text-color);
    transform: translateY(-100vh);
    transition: all 0.5s ease;
}

.del.show{
    opacity: 1;
    transform: translate(0);
}

.cmnts{
    width: 100%;
    padding-left: 4rem;
    justify-self: flex-start;
    text-align: left;
    border-bottom: 2.5px solid;
}

.comments{
    height: auto;
    width: 100%;
    display: grid;
    padding: 1rem 3.5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: relative;
}

.comments.grids{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.comments.one{
    grid-template-columns: 1fr;
    place-items: center;
}

.comment{
    height: auto;
    width: auto;
    padding: 0 1rem;
    border: 1px solid;
    position: relative;
    margin-bottom: 2rem;
    text-align: justify;
    border-radius: 0px 15px 15px 15px;
}

.comment h2{
    font-size: 1.2rem;
}

.action{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-between;
}

.author{
    bottom: -30px;
    font-size: 0.75rem;
}

.container form{
    width: 60%;
    height: 30px;
    position: fixed;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 20px;
    padding-bottom: 0;
    padding: 0 1rem;
    border: none;
}

.container form textarea{
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    text-indent: 10px;
    border-radius: 20px;
}

.container form button{
    width: 10%;
    border: 1px solid;
    margin-left: 1rem;
}

.empty{
  font-size: 1.15rem;
  text-wrap: balance;
}

.trash{
    cursor: pointer;
}

.error{
    position: absolute;
    bottom: -45px;
    font-size: 0.85rem;
    left: 5%;
}

@media screen and (max-width: 468px){
    .header{
        height: 10vh;
    }

    .container form{
        width: 80%;
    }
}