.post{
    height: auto;
    width: 100%;
    border: 1px solid;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.header{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-left: 1rem;
}

.header > *{
    margin-left: 20px;
}

.pic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postPic{
    object-fit: cover;
    border: 1px solid;
    border-radius: 15px;
}

.body{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.body > p{
    text-align: justify;
    padding: 0 15px;
}

.action{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    justify-content: space-around;
}

.count{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.action > *{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .post{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 468px){
    .header{
        margin-left: 0;
    }
}