.container{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
}

.header{
    height: 15vh;
    width: 70%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4rem;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px var(--shadow-color);
}


.deets{
    height: 30vh;
    width: 100%;
    margin-top: 20vh;
    border-bottom: 2px solid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 0;
}

.top{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 0;
    position: relative;
}

.theme{
    position: absolute;
    top: -25px;
    right: 25px;
    height: 15px;
    width: 15px;
    border: 1px solid;
    border-radius: 50%;
}

.theme > *{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* border: 1px solid rgb(128, 72, 72); */
}

.palette{
    left: 0;
    z-index: 10;
    cursor: pointer;
    border-color: green;
}

.circle{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 8px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(180deg);
}

.color{
    position: absolute;
    height: 15px;
    width: 15px;
    top: 5px;
    right: 0;
    left: 25px;
    opacity: 0;
    pointer-events: none;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    transform-origin: 0% 100%;
    transition: all 0.2s ease;
    transition-delay: calc(var(--pos) * 0.2s);
    transform: rotate(calc(var(--pos) * 60deg)) translateY(30px);
}

.circle.showTheme .color{
    opacity: 1;
    pointer-events: all;
}

.pic{
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top .text{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text h2 span{
    font-size: 0.8rem;
}

.bottom{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

.bottom h2, .bottom p{
    margin: 0;
}

.action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.nav button{
    width: 50%;
    outline: none;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.nav button:hover{
    border: none;
    border-bottom: 2px solid;
}

.tabs{
    height: auto;
    width: 100%;
    position: relative;
    scrollbar-width: none;
}

.tab{
    height: auto;
    width: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    padding-bottom: 5rem;
    transition: all 0.7s ease;
    transform: translateX(100vw);
}

.tab h3{
    width: 100%;
    text-align: center;
}

.tab.active{
    opacity: 1;
    display: grid;
    transform: translate(0);
    grid-template-columns: 1fr;
}



.bio{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2rem;
}


.bio h2{
    margin: 1rem 0;
    border-bottom: 2px solid;
}

.bio p{
    margin: 5px 0;
    width: 100%;
    text-align: right;
}



button{
    padding: 0.5rem 4rem;
}

/* overlay styles */
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
}


form{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    position: relative;
}


.inputBox{
    height: 4rem;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
}

.inputBox input{
    height: 80%;
    width: 100%;
    border: 1px solid;
    border-radius: 15px;
    text-indent: 10px;
}

input::file-selector-button{
    padding: 0.3rem 1rem;
    margin-top: 0.2rem;
}

input[type="file"]{
    width: 102%;
}

.inputBox textarea{
    height: 5rem;
    width: 102%;
    border: 1px solid;
    border-radius: 15px;
    text-indent: 10px;
    padding: 0.5rem;
    box-sizing: border-box;
    scrollbar-width: thin;
}

.close{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}

.error{
    position: absolute;
    bottom: -25px;
    font-size: 0.65rem;
    left: 15%;
}

@media screen and (min-width: 768px){
    .theme{
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 768px) {
    .deets{
        height: 25vh;
    }

    .action{
        width: 65%;
        margin-top: 1rem;
    }

    .action button{
        padding: 0.5rem 1.3rem;
    }
}

@media screen and (max-width: 468px){
    .header{
        height: 10vh;
        width: 100%;
        padding: 0 2rem;
    }

    .deets{
        margin-top: 15vh;
        padding-bottom: 4rem;
    }

    .action{
        width: 85%;
        margin: 0.3rem 0;
    }

    .action button{
        padding: 0.7rem 2rem;
    }

}
