.container{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: #040404;
}

.header{
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


.deets{
    height: 30vh;
    width: 100%;
    margin-top: 20vh;
    border-bottom: 2px solid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 0;
}

.top{
    height: auto;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 4rem;
    margin-bottom: 0;
}

.pic{
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
}

.top .text{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text h2 span{
    font-size: 0.8rem;
}

.bottom{
    height: auto;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 4rem;
    box-sizing: border-box;
}

.bottom h2, .bottom p{
    margin: 0;
}

.action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.nav button{
    width: 50%;
    outline: none;
    color: black;
    background: #f4f4f4;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.nav button:hover{
    border: none;
    border-bottom: 2px solid;
}

.tabs{
    height: auto;
    width: 100%;
    position: relative;
}

.tab{
    height: auto;
    width: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.7s ease;
    transform: translateX(100vw);
}

.tab h3{
    width: 100%;
    margin-left: 50%;
    text-align: center;
}

.tab.active{
    opacity: 1;
    display: grid;
    transform: translate(0);
    grid-template-columns: repeat(2, 1fr);
}


.imgs{
    height: 30vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-top: 2rem;
}

.bg{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.bg, .front{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #ff821d;
}

.front{
    height: 200px;
    width: 200px;
    left: 100px;
    bottom: -100px;
    position: absolute;
    border-radius: 50%;
}

.bio{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2rem;
}


.bio h2{
    margin: 1rem 0;
    border-bottom: 2px solid;
}

.bio p{
    margin: 5px 0;
    width: 100%;
    text-align: right;
}



button{
    padding: 0.5rem 4rem;
}

/* overlay styles */
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
}


form{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    position: relative;
}


.inputBox{
    height: 4rem;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputBox input{
    height: 80%;
    width: 100%;
    border: 1px solid;
    border-radius: 15px;
    text-indent: 10px;
}

input::file-selector-button{
    padding: 0.3rem 1rem;
    margin-top: 0.2rem;
}

input[type="file"]{
    width: 102%;
}

.inputBox textarea{
    height: 5rem;
    width: 102%;
    border: 1px solid;
    border-radius: 15px;
    text-indent: 10px;
    padding: 0.5rem;
    box-sizing: border-box;
    scrollbar-width: thin;
}

.close{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .front{
        left: 50px;
    }

    .bio{
        margin-top: 2rem;
    }

    .action{
        width: 65%;
        margin-top: 1rem;
    }

    .action button{
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 468px) {
    .imgs{
        height: 20vh;
    }

    .front{
        height: 150px;
        width: 150px;
        bottom: -80px;
    }

    .action{
        width: 80%;
    }
}