@font-face {
    font-family: "postbook";
    src: url("../assets/Fonts/Postbook.otf");
}

@font-face {
    font-family: "buddy";
    src: url("../assets/Fonts/SweetJoys.ttf");
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    perspective: 1000px;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    position: relative;
    /* font-family: "buddy";  */
}



.container::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: transparent;
    backdrop-filter: blur(7px);
}

.container h1{
    font-size: 2.5rem;
    font-family: "postbook";
    animation: welcome 1.5s ease-in both;
}

@keyframes welcome {
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
        opacity: 1;
        transform: translate(0);
    }
}

form{
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
}

.container.signup form{
    width: 450px;
    padding-bottom: 0;
}


.container form{
    padding: 0 1.5rem;
    font-family: inherit;
    font-family: "buddy"; 
    background: transparent;
    backdrop-filter: blur(30px);
    animation: flip 2s ease-in 2s both;
}

@keyframes flip{
    from{
        opacity: 0;
        transform: rotateY(180deg);
    }to{
        opacity: 1;
        transform: rotateY(0deg);
    }
}

form h2{
    font-size: 1.3rem;
    margin-top: 3rem;
}

.inputBox{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.container.signup .inputBox{
    margin-bottom: 1rem;
}

.inputBox label{
    align-self: flex-start;
    margin-left: 2rem;
}

.container.signup label{
    margin-left: 3rem;
}

.inputBox input{
    height: 70%;
    width: 80%;
    border: 1px solid;
    text-indent: 10px;
    border-radius: 10px;
}

form button{
    margin: 5px 0;
    padding: 0.5rem 4rem;
}

@media screen and (max-width: 468px){
    form, .container.signup form{
        width: 85vw;
    }
}