@font-face {
    font-family: "postbook";
    src: url("../assets/Fonts/Postbook.otf");
}

@font-face {
    font-family: "buddy";
    src: url("../assets/Fonts/SweetJoys.ttf");
}

@font-face {
    font-family: "scripto";
    src: url("../assets/Fonts/Scripto-2OR2v.ttf");
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    perspective: 1000px;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    position: relative;
}



.container::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: transparent;
    backdrop-filter: blur(7px);
}

.container h1{
    font-size: 3rem;
    font-family: "scripto";
    margin-bottom: 5px;
    animation: welcome 1.5s ease-in both;
}

@keyframes welcome {
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
        opacity: 1;
        transform: translate(0);
    }
}

form{
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid;
    border-radius: 0px;
}

.container form{
    padding: 0 1.5rem;
    font-family: inherit;
    background: transparent;
    backdrop-filter: blur(30px);
}


form h2{
    font-size: 1.3rem;
    margin-top: 3rem;
}

.inputBox{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
}

.inputBox.two{
    margin-bottom: 0;
}

.error{
    position: absolute;
    bottom: -25px;
    font-size: 0.65rem;
    left: 15%;
}

.container.signup .inputBox{
    height: 2.5rem;
}

.container.signup .inputBox input{
    border-radius: 0px;
}

.container.signup .inputBox:last-of-type{
    margin-bottom: 1rem;
}

.container.signup .google{
    padding: 0.3rem 3rem;
}

.already{
    margin-top: 0;
}

.inputBox label{
    align-self: flex-start;
    margin-left: 2rem;
}

.inputBox input{
    height: 70%;
    width: 80%;
    border: 1px solid;
    text-indent: 10px;
    border-radius: 10px;
}

.line{
    width: 100%;
    margin-top: 1rem;
    position: relative;
}

.line hr{
    width: 80%;
}

.line p{
    position: absolute;
    top: -10px;
    left: 50%;
    padding: 5px;
    background: var(--bg-color);
    transform: translate(-50%, -50%);
}

.line.two{
    margin: 0.7rem 0;
}

.continue{
    margin: 15px 0;
    font-size: 0.8rem;
}

.google{
    color: black;
    background: white;
    border: 1px solid;
    border-radius: 0px;
    padding: 0.5rem 3.5rem;
    margin: 0;
}

.redirect{
    margin-top: 0;
}

form button{
    margin: 5px 0;
    padding: 0.5rem 4rem;
}

.dev{
    position: fixed;
    bottom: 10px;
    font-size: 0.85rem;
}

@media screen and (max-width: 468px){
    form, .container.signup form{
        width: 80vw;
    }

    .dev{
        bottom: 20px;
    }
}