@font-face {
  font-family: "buddy";
  src: url("../src/assets/Fonts/Buddy\ Story.otf");
}

#root {
  margin: 0 auto;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: auto 1fr;
}


.header{
  height: 15vh;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 1rem;
  border: 2px solid;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: "buddy";
}
