@font-face {
  font-family: "biko";
  src: url("../src/assets/Fonts/biko_bold.otf");
}


:root {
  font-family: "biko", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bolder;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a{
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  color: #535bf2;
}

.link:hover{
  color: var(--text-color);
}

body{
  --bg-color: #f7f7f7;
  --text-color: #040404;
  --button-color: #040404;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.8s ease;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  background: inherit;
  white-space: nowrap;
  transition: border-color 0.25s;
}

button.btn{
  color: var(--bg-color);
  background: var(--text-color);
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  color: #040404;
  border: 1px solid white;
}

input, textarea{
  font-family: "baskerville";
}

.link{
  border-bottom: 2px solid;
}
